In [29]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from urllib.request import urlretrieve

In [30]:
filename = 'data/test.csv' 
data = pd.read_csv(filename)

In [31]:
# row and column count
data.shape

(3, 6)

In [32]:
# show the column names (note all the extraneous spaces in the column names)
data.columns

Index(['id', 'first', 'second', 'third', 'fourth', 'fifth'], dtype='object')

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   first   3 non-null      object
 2   second  3 non-null      object
 3   third   3 non-null      object
 4   fourth  3 non-null      object
 5   fifth   3 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

In [34]:
# summary statistics (with strings too)
data.describe(include="all")

,id,first,second,third,fourth,fifth
count,3.0,3,3,3,3,3
unique,NaN,3,3,3,3,3
top,NaN,2020-04-18 12:00:00,2020-04-18,18-04-2020,01-JAN-20,31/12/20
freq,NaN,1,1,1,1,1
mean,2.0,NaN,NaN,NaN,NaN,NaN
std,1.0,NaN,NaN,NaN,NaN,NaN
min,1.0,NaN,NaN,NaN,NaN,NaN
25%,1.5,NaN,NaN,NaN,NaN,NaN
50%,2.0,NaN,NaN,NaN,NaN,NaN
75%,2.5,NaN,NaN,NaN,NaN,NaN
max,3.0,NaN,NaN,NaN,NaN,NaN

In [35]:
# show the first 10 rows
data.head()

   id                 first       second       third      fourth      fifth
0   1   2020-04-18 12:00:00   2020-04-18  18-04-2020   18-APR-20   01/18/20
1   2   2020-01-01 12:00:00   2020-01-01  01-01-2020   01-JAN-20   01/01/20
2   3   2020-12-31 12:00:00   2020-12-31  31-12-2020   31-DEC-20   31/12/20

In [36]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [37]:
# from the docs
# pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)

data["first"] = pd.to_datetime(data["first"])
data["second"] = pd.to_datetime(data["second"])
data["third"] = pd.to_datetime(data["third"])
data["fourth"] = pd.to_datetime(data["fourth"])
data["fifth"] = pd.to_datetime(data["fifth"])

In [38]:
data.dtypes

id                 int64
first     datetime64[ns]
second    datetime64[ns]
third     datetime64[ns]
fourth    datetime64[ns]
fifth     datetime64[ns]
dtype: object

In [54]:
data.sort_values(by=['second'], inplace=True, ascending=True)

In [55]:
data

   id               first     second      third     fourth      fifth
1   2 2020-01-01 12:00:00 2020-01-01 2020-01-01 2020-01-01 2020-01-01
0   1 2020-04-18 12:00:00 2020-04-18 2020-04-18 2020-04-18 2020-01-18
2   3 2020-12-31 12:00:00 2020-12-31 2020-12-31 2020-12-31 2020-12-31

In [58]:
# Set index as DateTimeIndex
datetime_index = pd.DatetimeIndex(data.second)
data.set_index(datetime_index, inplace=True)
data.head()

            id               first     second      third     fourth      fifth
second
2020-01-01   2 2020-01-01 12:00:00 2020-01-01 2020-01-01 2020-01-01 2020-01-01
2020-04-18   1 2020-04-18 12:00:00 2020-04-18 2020-04-18 2020-04-18 2020-01-18
2020-12-31   3 2020-12-31 12:00:00 2020-12-31 2020-12-31 2020-12-31 2020-12-31

In [59]:
data.index

DatetimeIndex(['2020-01-01', '2020-04-18', '2020-12-31'], dtype='datetime64[ns]', name='second', freq=None)